<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputScript name="script.js" library="js" />
	<h:outputScript name="calendar.js" library="js" />
	<h:outputScript name="js/bootstrap.js" library="bootstrap" />
	<h:outputStylesheet name="css/bootstrap.css" library="bootstrap" />
	<title>Demo</title>
</h:head>
<body>
	<ui:insert name="header">
		<p:ajaxStatus onstart="PF('wdlgCargando').show()" onsuccess="PF('wdlgCargando').hide()" />
		
		<p:dialog widgetVar="wdlgCargando" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		    <p:graphicImage library="images" name="cargando.gif" />
		</p:dialog>	
		
		<p:growl autoUpdate="true" showDetail="true" />
		
		<nav class="navbar navbar-default cabecera" role="navigation">
			<div class="container-fluid">
				<h:form id="frmMenu">
					<p:menubar autoDisplay="false" >
						<p:menuitem icon="ui-icon-home" value="Personas" action="persona?faces-redirect=true"/>
									
					</p:menubar>
												
				</h:form>
			</div>
		</nav>
		
	</ui:insert>

	<div class="container">
	 <div class="jumbotron">
	 	<ui:insert name="content">

		</ui:insert>
	 </div>
	</div>
	

	<ui:insert name="footer">
		<div class="ui-fluid" align="center">
			<p 	style="color: #222; text-align: center !important;">
				&copy; Derechos Reservados <strong>© DEMO</strong> - 2020
			</p>
		</div>	
			
	</ui:insert>
</body>
</html>
