<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>


</h:head>
<body>
	<ui:composition template="/WEB-INF/templates/plantilla.xhtml">
		<ui:define name="content">
			<h:form id="frm">

				
				<div class="row">
					<div class="col-sm-12">
						<p:dataTable var="per" value="#{personaBean.lstPersonas}" rows="10" 
							paginator="true" id="tblPersonas"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15"
							editable="true">
							
							<p:ajax event="rowEdit" listener="#{personaBean.onRowEdit}" update=":frm:tblPersonas" />
							
							
							<p:column headerText="Id" filterBy="#{per.id}" filterMatchMode="contains" filterStyle="display:none">
								<h:outputText value="#{per.id}" />
							</p:column>

							<p:column headerText="Nombres" filterBy="#{per.nombre}" filterMatchMode="contains" filterStyle="display:none">
								<p:cellEditor>
					                <f:facet name="output"><h:outputText value="#{per.nombre}" /></f:facet>
					                <f:facet name="input"><p:inputText id="modelInput" value="#{per.nombre}" style="width:100%"/></f:facet>
					            </p:cellEditor>
							</p:column>
							
							<p:column style="width:35px">
					            <p:rowEditor />
					        </p:column>

						</p:dataTable>
					</div>
				</div>
			
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
